/* Defaults INDEX*/ 
:root {
	--font-family: -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
}

/* Theme colors */
/* .wrapper{
	width: 100%;
	height: 100%;
	background-color: #5E0B15;
} */

:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #333;


	--text-color: var(--color-gray-90);
	--text-color-link: #D9CAB3;
	--text-color-link-active: #BC8034;
	--text-color-link-visited: #f7c170;
	--background-color: #5E0B15;

	background-image: url('https://images.unsplash.com/photo-1663181888421-93c1b2869d2e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	--syntax-tab-size: 2;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-gray-20: #e0e0e0;
		--color-gray-50: #C0C0C0;
		--color-gray-90: #dad8d8;

		/* --text-color is assigned to --color-gray-_ above */
		/* --text-color-link: #1493fb;
		--text-color-link-active: #6969f7;
		--text-color-link-visited: #a6a6f8; */

		/* --background-color: #15202b; */

		--text-color-link: #D9CAB3;
		--text-color-link-active: #BC8034;
		--text-color-link-visited: #f7c170;
		--background-color: #5E0B15;


		background-image: url('https://images.unsplash.com/photo-1663181888421-93c1b2869d2e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-attachment: fixed;

	}
}


/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html,
body {
	margin: 0;
	height: fit-content;
	background-color: #5e0b15a1;
}
.wrapper{
	padding: 0;
	margin: 0 auto;
	font-family: var(--font-family);
	color: var(--text-color);

	font-family: "LXGW WenKai Mono TC", monospace;
	max-width: 60em;
	height: 100vh;
}
html {
	overflow-y: scroll;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 2px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0));
}

#skip-link {
	text-decoration: none;
	background: var(--background-color);
	color: var(--text-color);
	padding: 0.5rem 1rem;
	border: 1px solid var(--color-gray-90);
	border-radius: 2px;
}

/* Prevent visually-hidden skip link fom pushing content around when focused */
#skip-link.visually-hidden:focus {
	position: absolute;
	top: 1rem;
	left: 1rem;
	/* Ensure it is positioned on top of everything else when it is shown */
	z-index: 999;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	padding: 1em 0;
	
	border-top: 2px solid;
	border-image-slice: 1;
	border-width: 2px;
	border-image-source: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.664), rgba(255, 255, 255, 0));
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre,
code {
	font-family: var(--font-family-monospace);
}
pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
}

/* Header */
header {
	display: flex;
	gap: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
}
.home-link {
	flex-grow: 1;
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}

/* Nav */
.nav {
	display: flex;
	gap: .5em 1em;
	padding: 0;
	margin: 0;
	list-style: none;
	width: 200px;
	justify-content: space-around;
}
.nav-item {
	display: inline-block;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
	border-color: rgba(255, 255, 255, 0);
}
.nav-item a[href]:hover{
	text-decoration: none;
	padding: 10% 30%;
	border-color:#BC8034;
}
.nav-item a[href]{
	border: solid 2px;
	padding: 10% 30%;
	border-radius: 10px;
	transition: .3s ease;
	/* background-color: rgba(255, 255, 255, 0.144); */
}
.nav a[href][aria-current="page"] {	
	border-color:#BC8034;
}

/* Posts list */
.postlist{
	counter-reset: start-from var(--postlist-index);
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	margin: 0;
}
.postlist-item {
	/* display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em; */

	counter-increment: start-from -1;
	margin-bottom: 1em;
	background-color: black;
	width: 100%;
	height: 20vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 5%;
	text-align: start;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.144); 
	backdrop-filter: blur(5px); 
	transition: .3s ease;
	border-radius: 20px;
}
.postlist-item:hover{
	transform: translateY(-5px);
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--color-gray-90);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;

	width: 100%;
	text-align: start;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.main-div{
	display: flex;
	justify-content: space-between;
	align-items: end;
	/* margin-top: 20%; */
	margin-bottom: 16px;
	height: 100%;
}
.add-music p, small{
	margin: 0;
	text-align: center;
	margin-bottom: 10px;
}
#latest-3-posts{
	font-size: 3rem;
}
#latest-3-posts, .home-link, .postlist-link{
	font-family:  "Kiwi Maru", serif;
	text-transform: capitalize;
}

.post-header{
	font-size: 1.6rem;
	text-transform: capitalize;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.post-header h1{
	margin-bottom: 1%;
}
small, time{
	font-size: 1rem;
}
.post-container{
	display: flex;
	gap: 5%;
}
.post-details{
	display: flex;
	flex-direction: column;
}
.content-container{
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.144); 
	backdrop-filter: blur(5px); 
	padding: 5%;
	transition: .3s ease;
	overflow-y: auto;
	height: 70vh;
}
.content-container:hover{
	backdrop-filter: blur(40px); 
}